
@{
    ViewBag.Title = "Hakkımızda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center>
    <h2>@ViewBag.Title</h2>
</center>

    <link rel="icon" type="image/x-icon" href="\Assets\favicon.ico" />

    <center>
        <img style="max-width:100%;height:auto" alt="" src="\Assets\hakkimizda_header.jpg" />
    </center>

    <div class="wrapper-body" style="padding-left:60px; padding-right:60px; text-align:justify">
        <article>
            @*<img alt="" class="article-media f-left m-r20" src="~/Assets/akgida_hakkimizda.jpg" />*@
            <p>
                <br />
                <strong>1996 </strong>yılı Ağustos ayında <strong>Akyazı K&ouml;y-T&uuml;r </strong>fabrikasının  satın alınması ile kurulan Ak Gıda San. ve Tic. A.Ş. T&uuml;rkiye ve komşu coğrafyaların  en b&uuml;y&uuml;k s&uuml;t işleme kapasitesine sahip Pamukova tesislerine <strong>1998 </strong>yılında <strong>450</strong> d&ouml;n&uuml;m arazinin satın alınması ile taşındı. Akyazı fabrikasında <strong>UHT  s&uuml;t, yoğurt, beyaz peynir ve kaşar peyniri</strong> &uuml;retimleri ile başlayan  yolculuğumuz şu anda T&uuml;rkiye&rsquo;nin 5 farklı b&ouml;lgesinde 5 &uuml;retim tesisinde  &uuml;retilen, 23 farklı markada 339 nihai &uuml;r&uuml;n &ccedil;eşidiyle devam etmektedir. <br />
                <br />
                T&uuml;rkiye&rsquo;nin  sayılı sanayi kuruluşlarından biri olan firmamız &lsquo;İstanbul Sanayi Odası&rsquo;nın  &lsquo;2012 yılı T&uuml;rkiye'deki En Y&uuml;ksek Cirolu 500 Şirket&rsquo; listesinde &Uuml;lker  şirketleri arasında 1. aynı zamanda T&uuml;rkiye sıralamasında 43. olarak yer  almaktadır.<br />
                <br />
                İlk ve en b&uuml;y&uuml;k &uuml;retim tesisimiz Pamukova fabrikamızda <strong>1500  ton/g&uuml;n </strong>s&uuml;t işleme kapasitesi ile i&ccedil; piyasa ile birlikte Orta doğu  &uuml;lkelerine, Avrupa&rsquo;ya ve Amerika&rsquo;ya &uuml;r&uuml;n verilmektedir.<strong> 940 </strong>&ccedil;alışanın bulunduğu &uuml;retim tesisimiz diğer  &uuml;retim tesislerimiz ile birlikte yaklaşık 200 bin kişinin ge&ccedil;im kaynağı olarak  ekonomideki yerini almaktadır.<br />
                <br />
                İkinci &uuml;retim  tesisimiz olan Karaman Fabrikamız <strong>1000 ton/g&uuml;n </strong>s&uuml;t işleme kapasitesi ile <strong>425</strong> &ccedil;alışanımıza istihdam sağlamakta ve s&uuml;t, yoğurt, ayran ve peynir  &ccedil;eşitleri &uuml;retimini ger&ccedil;ekleştirmektedir.<br />
                <br />
                L&uuml;leburgaz  Fabrikamız <strong>500 ton/g&uuml;n </strong>s&uuml;t işleme kapasitesi ile <strong>145</strong> &ccedil;alışanımıza  istihdam sağlamakta ve s&uuml;t, yoğurt ve ayran &uuml;retimi ger&ccedil;ekleştirmektedir.<br />
                <br />
                Kahramanmaraş  şehrinin ilk s&uuml;t fabrikası olma &ouml;zelliğini taşıyan Kahramanmaraş Fabrikamız <strong>500  ton/g&uuml;n </strong>s&uuml;t işleme kapasitesi ile <strong>172</strong> &ccedil;alışanımıza istihdam  sağlamakta ve s&uuml;t, yoğurt ve ayran &uuml;retimi ger&ccedil;ekleştirmektedir.<br />
                <br />
                2013 yılında a&ccedil;ılan &nbsp;Aydın Fabrikamız <strong>500 ton/g&uuml;n </strong>s&uuml;t işleme  kapasitesi ile <strong>159 </strong>&ccedil;alışanımıza istihdam sağlamakta peynir &ccedil;eşitlerinin  &uuml;retimi ger&ccedil;ekleştirmektedir.<br />
                <br />
            </p>
            <div class="f-clear"></div>
        </article>
    </div>

