
@using AkGida_MyInfo.Models
@model IEnumerable<Baby>

@foreach (var item in Model)
{
    var bebek = item.Name + " " + item.Surname;
    <li><a href="#BabyID" z>@bebek</a></li>
}

@*<script>
    jQuery(function () {
        jQuery('.BabyID').colorbox({ iframe: true, width: 550, height: 600, scrolling: false });
    })(jQuery)
</script>*@