@{
    ViewBag.Title = "İletişim";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>



<div class="semi-separator"></div><div class="wrapper content-detail">
    <div class="wrapper-head">
        İletişim
    </div>
    <div class="wrapper-body">
        <article>
            <table class="ui-table">
                <tbody>
                    <tr>
                        <td align="left"><strong>Genel Merkez</strong></td>
                        <td align="left">
                            <p>
                                <strong>AK GIDA SAN. TİC. A.Ş.</strong><br />
                                Ofis Park Maltepe - Altay&ccedil;eşme Mahallesi    &Ccedil;amlı <br />
                                Sokak No: 21 Maltepe / İstanbul
                            </p>
                        </td>
                        <td align="left"><strong>Telefon:</strong>&nbsp;0216 225 47 00</td>
                    </tr>
                    <tr>
                        <td align="left"><strong>Sakarya (Pamukova) &Uuml;retim Tesisi</strong></td>
                        <td align="left">
                            <strong>AK GIDA SAN.    TİC. A.Ş.</strong><br />
                            G&ouml;kg&ouml;z K&ouml;y&uuml;&nbsp; Beylik yerleri mevkii 54920 <br />
                            Pamukova / Sakarya
                        </td>
                        <td align="left"><strong>Telefon:</strong>&nbsp;0264 554 00 00</td>
                    </tr>
                    <tr>
                        <td align="left"><strong>Karaman &Uuml;retim Tesisi</strong></td>
                        <td align="left">
                            <strong>AK    GIDA SAN. TİC. A.Ş Karaman Şube</strong><br />
                            Organize Sanayi B&ouml;lgesi 5.Cadde&nbsp; /Karaman
                        </td>
                        <td align="left"><strong>Telefon:</strong>&nbsp;0338 224 16 00</td>
                    </tr>
                    <tr>
                        <td align="left"><strong>L&uuml;leburgaz &Uuml;retim Tesisi</strong></td>
                        <td align="left">
                            <strong>AK    GIDA SAN. TİC. A.Ş L&uuml;leburgaz Şube</strong><br />
                            K&ouml;yaltı iki yol arası Evren Sekiz&nbsp; <br />
                            L&uuml;leburgaz / Kırklareli
                        </td>
                        <td align="left"><strong>Telefon:</strong>&nbsp;0288 443 90 70</td>
                    </tr>
                    <tr>
                        <td align="left"><strong>Kahramanmaraş &Uuml;retim Tesisi</strong></td>
                        <td align="left">
                            <strong>AK    GIDA SAN. TİC. A.Ş Kahramanmaraş Şube</strong><br />
                            Şehit Ali Mahallesi Balsuyu Bulvarı No :45 <br />
                            Kılılı Kasabası /    T&uuml;rkoğlu /Kahramanmaraş
                        </td>
                        <td align="left"><strong>Telefon:&nbsp;</strong>0344 629 26 26</td>
                    </tr>
                    <tr>
                        <td align="left"><strong>Aydın &Uuml;retim Tesisi</strong></td>
                        <td align="left">
                            <strong>AK    GIDA SAN. TİC. A.Ş Aydın Şube</strong><br />
                            Ortaklar Organize Sanayi B&ouml;lgesi Atat&uuml;rk Bulvarı <br />
                            No:2    Ortaklar / Germencik/ Aydın <br />
                        </td>
                        <td align="left"><strong>Telefon:</strong>&nbsp;0256 577 41 70</td>
                    </tr>
                </tbody>
            </table>
            <div class="f-clear"></div>
        </article>
    </div>

</div>






    @*<address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>*@
