@{
    ViewBag.Title = "İletişim";
  
}
<center>
    <h2>@ViewBag.Title</h2>
</center>

                <table style="border:1px solid black" align="center">
                   
                        <tr style="border:1px solid black;">
                            <td align="left" style="border:1px solid black; padding:10px 10px 10px 10px;"><strong>Genel Merkez</strong></td>
                            <td align="left"style="border:1px solid black; padding:10px 10px 10px 10px;">
                                    <strong>AK GIDA SAN. TİC. A.Ş.</strong><br />
                                    Ofis Park Maltepe - Altay&ccedil;eşme Mahallesi    &Ccedil;amlı <br />
                                    Sokak No: 21 Maltepe / İstanbul
                            </td>
                            <td align="left" style="border:1px solid black; padding:10px 10px 10px 10px;"><strong>Telefon:</strong>&nbsp;0216 225 47 00</td>
                        </tr>
                        <tr style="border:1px solid black">
                            <td align="left" style="border:1px solid black; padding:10px 10px 10px 10px;"><strong>Sakarya (Pamukova) &Uuml;retim Tesisi</strong></td>
                            <td align="left" style="border:1px solid black; padding:10px 10px 10px 10px;">
                                <strong>AK GIDA SAN.    TİC. A.Ş.</strong><br />
                                G&ouml;kg&ouml;z K&ouml;y&uuml;&nbsp; Beylik yerleri mevkii 54920 <br />
                                Pamukova / Sakarya
                            </td>
                            <td align="left" style="border:1px solid black; padding:10px 10px 10px 10px;"><strong>Telefon:</strong>&nbsp;0264 554 00 00</td>
                        </tr>
                        <tr style="border:1px solid black">
                            <td align="left" style="border:1px solid black; padding:10px 10px 10px 10px;"><strong>Karaman &Uuml;retim Tesisi</strong></td>
                            <td align="left" style="border:1px solid black; padding:10px 10px 10px 10px;">
                                <strong>AK    GIDA SAN. TİC. A.Ş Karaman Şube</strong><br />
                                Organize Sanayi B&ouml;lgesi 5.Cadde&nbsp; /Karaman
                            </td>
                            <td align="left" style="border:1px solid black; padding:10px 10px 10px 10px;"><strong>Telefon:</strong>&nbsp;0338 224 16 00</td>
                        </tr>
                        <tr style="border:1px solid black">
                            <td align="left" style="border:1px solid black; padding:10px 10px 10px 10px;"><strong>L&uuml;leburgaz &Uuml;retim Tesisi</strong></td>
                            <td align="left" style="border:1px solid black; padding:10px 10px 10px 10px;">
                                <strong>AK    GIDA SAN. TİC. A.Ş L&uuml;leburgaz Şube</strong><br />
                                K&ouml;yaltı iki yol arası Evren Sekiz&nbsp; <br />
                                L&uuml;leburgaz / Kırklareli
                            </td>
                            <td align="left" style="border:1px solid black; padding:10px 10px 10px 10px;"><strong>Telefon:</strong>&nbsp;0288 443 90 70</td>
                        </tr>
                        <tr style="border:1px solid black">
                            <td align="left" style="border:1px solid black; padding:10px 10px 10px 10px;"><strong>Kahramanmaraş &Uuml;retim Tesisi</strong></td>
                            <td align="left" style="border:1px solid black; padding:10px 10px 10px 10px;">
                                <strong>AK    GIDA SAN. TİC. A.Ş Kahramanmaraş Şube</strong><br />
                                Şehit Ali Mahallesi Balsuyu Bulvarı No :45 <br />
                                Kılılı Kasabası /    T&uuml;rkoğlu /Kahramanmaraş
                            </td>
                            <td align="left" style="border:1px solid black; padding:10px 10px 10px 10px;"><strong>Telefon:&nbsp;</strong>0344 629 26 26</td>
                        </tr>
                        <tr style="border:1px solid black">
                            <td align="left" style="border:1px solid black; padding:10px 10px 10px 10px;"><strong>Aydın &Uuml;retim Tesisi</strong></td>
                            <td align="left" style="border:1px solid black; padding:10px 10px 10px 10px;">
                                <strong>AK    GIDA SAN. TİC. A.Ş Aydın Şube</strong><br />
                                Ortaklar Organize Sanayi B&ouml;lgesi Atat&uuml;rk Bulvarı <br />
                                No:2    Ortaklar / Germencik/ Aydın <br />
                            </td>
                            <td align="left" style="border:1px solid black; padding:10px 10px 10px 10px;"><strong>Telefon:</strong>&nbsp;0256 577 41 70</td>
                        </tr>
                    
                </table>
          