@using AkGida_MyInfo.Models
@model List<Departments>



@{
    ViewBag.Title = "Departmanlar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 align="center">Departmanlar</h2>


<style>
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 3px;
    }

    .grid-item {
        /*background-color: rgba(255, 255, 255, 0.8);*/
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(24, 193, 182);
        padding: 20px;
        font-size: 16px;
        text-align: center;
    }

    table > tr > td {
        border: 1px solid rgb(24, 193, 182) !important;
        padding: 6px;
    }

</style>

<div class="grid-container">
    @foreach (var item in Model)
    {
        <div class="grid-item">
            <h3><b id=@item.DepartmentID.ToString()>@item.DepartmentName </b></h3>
        </div>
    }

</div>
<hr />
<table id="Liste"  style="width:100%; display:none;">
</table>

@*<script>

    $(function ClickToID() {
        $("div b").click(function () {
                var divID = this.id;//Or $(this).attr("id");
                console.log("tıklandı:" + divID);
            $("#Liste").html("");
            $("#Liste").hide(300, function () {
                //Your code here
                $.ajax({
                    method: "POST",
                    url: "/Home/PartialPers",
                    data: { departmanid: divID },
                    beforeSend: function () {
                        console.log("Veriler Gonderildi.");
                    }
                }).done(function (d) {
                    console.log("d:"+d);
                    $("#Liste").show(300, function () {
                        for (var i in d) {

                            var divPersonel = $("<div id='grid-item'><h2>" + d[i].PersonelName + "  " + d[i].PersonelSurname + "</h2>" +
                                "<p><b>" + d[i].PersonelDahiliNo + " " + d[i].PersonelTel + " " + d[i].PersonelEposta + "</b></p></div > ");
                            $("#Liste").append(divPersonel);
                            console.log("Çekilen Veri: " + d[i].PersonelName + " " + d[i].PersonelSurname);
                        }
                    })

                    }).fail(function () {
                        console.log("hata olustu..");
                });
            });


        });
    });

</script>*@




    <script>

        $(function ClickToID() {
            $("div b").click(function () {
                var divID = this.id;//Or $(this).attr("id");
                console.log("tıklandı:" + divID);
                $("#Liste").html("");
                $("#Liste").hide(300, function () {
                    //Your code here
                    $.ajax({
                        method: "POST",
                        url: "/Home/PartialPers",
                        data: { departmanid: divID },
                        beforeSend: function () {
                            console.log("Veriler Gonderildi.");
                        }
                    }).done(function (d) {
                        console.log("d:" + d);
                        
                        $("#Liste").show(300, function () {

                            
                            for (var i in d) {

                                var divPersonel = $('<tr><td>' + d[i].PersonelName + '</td><td>' + d[i].PersonelSurname + '</td><td>' + d[i].PersonelDahiliNo + '</td><td>' + d[i].PersonelTel + '</td><td>' + d[i].PersonelEposta + '</td></tr>');
                                $("#Liste").append(divPersonel);
                                console.log("Çekilen Veri: " + d[i].PersonelName + " " + d[i].PersonelSurname);
                            }
                        })

                    }).fail(function () {
                        console.log("hata olustu..");
                    });
                });


            });
        });

    </script>





    <script>
        $(function ClickToID() {
            $("div b").click(function () {
                var divID = this.id;
                console.log("tıklandı:" + divID);
                $("#Liste2").html("");
                $("#Liste2").hide(300, function () {
                    //Your code here
                    $.ajax({
                        method: "POST",
                        url: "/Home/YemekSirketi",
                        data: { companyidd: divID },
                        beforeSend: function () {
                            console.log("Veriler Gonderildi.");
                        }
                    }).done(function (d) {
                        console.log("d:" + d);
                        $("#Liste2").show(300, function () {

                            for (var i in d) {

                                var divYemekSirketi = $("<h2>" + d[i].YemekSirketiAdi + "</h2> ");
                                $("#Liste2").append(divYemekSirketi);
                                console.log("Çekilen Veri: " + d[i].YemekSirketiAdi);
                            }
                        })
                    }).fail(function () {
                        console.log("hata olustu..");
                    });
                });
            });
        });
    </script>

