
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Yönetim Paneli Ana Sayfa";
}

<h2>Hoşgeldiniz,</h2>
<h4>Tüm yönetim işlemlerini yan taraftaki menüden yapabilirsiniz.</h4>

